body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.clock {
    text-align: center;
}

#alarmForm {
    margin-top: 20px;
}

#stopButton {
    margin-top: 10px;
}
